/**
 * @fileoverview Styles principaux de l'application Todo List
 * @author [flozze]
 * @version 1.0.0
 * @description Feuille de style principale qui importe et organise tous les styles de l'application
 */

/* Import des fichiers CSS nécessaires */
@import "./root/color.css";
@import "./root/font.css";
@import "./task/add-task.css";
@import "./task/task.css";
@import "./media-query/media-992px.css";
@import "./media-query/media-768px.css";
@import "./media-query/media-576px.css";

/* Réinitialisation des styles par défaut */
* {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

/* Style du corps de la page */
body {
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  text-shadow: 0 0 4px var(--shadow-color); /* Effet de lueur sur le texte réduit */
  gap: 50px;
}

/* Style du titre principal */
h1 {
  font-family: var(--font-police);
  font-size: 4rem;
  text-align: center;
  margin: 20px 0;
}

/* Style du formulaire */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 50px;
}

/* Style de la liste des tâches */
ul {
  display: flex;
  flex-direction: column; /* Pour aligner les li verticalement */
  align-items: center;
  justify-content: center;
  gap: 37px; /* Augmentation de l'espacement entre les tâches */
  margin-left: 50px; /* Marge de 50px à gauche */
  margin-right: 50px; /* Marge de 50px à droite */
  /* Optionnel : pour éviter que le contenu touche les bords */
  box-sizing: border-box;
}
