/**
 * @fileoverview Styles du formulaire d'ajout de tâche
 * @author [flozze]
 * @version 1.0.0
 * @description Styles pour le formulaire et les éléments d'ajout de nouvelle tâche
 */

/* Import des variables globales */
@import "../root/color.css";
@import "../root/font.css";

/* Conteneur principal du formulaire d'ajout de tâche */
#add-task {
  display: flex;
}

/* Style du champ de saisie de texte */
input[type="text"] {
  width: 300px;
  padding: 10px;
  border-radius: 16px;
  box-shadow: var(--shadow-color) 0px 0px 10px; /* Effet de lueur à 10px */
  border: none;
  color: var(--color-text);
  text-shadow: 0 0 4px var(--shadow-color); /* Effet de lueur sur le texte réduit */
}

/* Suppression de la bordure de focus par défaut */
input[type="text"]:focus {
  outline: none;
}

/* Style du bouton de soumission */
button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  padding-bottom: 7px;
  width: 50px;
  height: 50px;
  box-shadow: var(--shadow-color) 0px 0px 10px; /* Effet de lueur à 10px */
  border-radius: 16px;
  border: none;
  color: var(--color-text);
  font-size: 3rem;
  text-shadow: 0 0 2px var(--shadow-color); /* Effet de lueur sur le texte très réduit */
}

/* Animation au survol du bouton */
button[type="submit"]:hover {
  scale: 1.1; /* Légère augmentation de la taille */
}
