@media (max-width: 768px) {
  label {
    font-size: 1.2rem;
  }
  .delete-button,
  .todo-checkbox {
    font-size: 1.4rem;
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    max-width: 36px;
    max-height: 36px;
  }
}
