/**
 * @fileoverview Media queries pour les écrans de petite taille
 * @author [flozze]
 * @version 1.0.0
 * @description Styles responsifs pour les écrans jusqu'à 576px de large
 */

@media (max-width: 576px) {
  /* Réduction de la taille du titre pour les petits écrans */
  h1 {
    font-size: 2rem;
  }

  /* Ajustement de la largeur du champ de saisie pour les petits écrans */
  input[type="text"] {
    width: 200px;
    text-shadow: 3px 3px 3px;
  }

  /* Réduction de la taille du texte des labels pour les petits écrans */
  label {
    font-size: 1rem;
  }

  /* Ajustement de la taille des boutons pour les petits écrans */
  .delete-button,
  .todo-checkbox {
    font-size: 1.1rem;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
  }
}
