/**
 * @fileoverview Variables de police de l'application
 * @author [flozze]
 * @version 1.0.0
 * @description Définition des variables de police utilisées dans toute l'application
 */

/* Configuration de la police personnalisée Orbitron */
@font-face {
    font-family: "Orbitron";
    src: url(../font/Orbitron-VariableFont_wght.ttf);
}

/* Définition de la variable de police globale */
:root {
    --font-police: "Orbitron"; /* Police principale utilisée dans toute l'application */
}

